/*Reset*/
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px){
    max-width: 992px;
    padding: 0 20px;
  }

  @media screen and (min-width: 1360px){
    max-width: 1360px;
  }
}

.error {
  padding: 25px 0;
  overflow: hidden;
  background: #F5F5F5;
  height: 100%;

  @media screen and (min-width: 920px){
    padding: 50px 0;
  }

  &__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 920px){
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__content {
    align-self: center;

    @media screen and (min-width: 920px){
      margin-right: 50px;
    }
  }

  &__title {
    font-family: 'Furore';
    font-style: normal;
    font-weight: 400;
    
    letter-spacing: 0.07em;
    color: #293A50;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 123.6%;
    text-align: center;

    @media screen and (min-width: 920px){
      text-align: left;
      font-size: 50px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px){
      font-size: 70px;
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #293A50;
    margin-bottom: 25px;
    text-align: center;
    max-width: 300px;
    
    @media screen and (min-width: 920px){
      text-align: left;
      max-width: 563px;
      font-size: 26px;
      line-height: 130%;
      margin-bottom: 34px;
    }

    @media screen and (min-width: 1360px){
      max-width: 530px;
    }
  }

  &__button {
    font-weight: 500;
    font-size: 16px;
    display: none;

    @media screen and (min-width: 920px){
      display: block;
    }

    .btn{
      cursor: pointer;
    }
  }

  &__image {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-self: center;

    span{
      width: 100%;
      align-items: center;

      img{
        max-width: 100%;
        height: auto;
      }
      display: flex;
      position: relative;
      z-index: 3;
      max-width: 217px;
      
      @media screen and (min-width: 920px){
        max-width: 360px;
      }

      @media screen and (min-width: 991px){
        max-width: 400px;
      }
      @media screen and (min-width: 1360px){
        max-width: 656px;
      }
    }

    &:before{
      content: '' ; 
      display: block;
      width: 335px;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 1;
      background: url(../images/error-bg.png) no-repeat bottom/contain ;

      @media screen and (min-width: 920px){
        width: 505px;
      }
  
      @media screen and (min-width: 991px){
        width: 600px;
      }

      
      @media screen and (min-width: 1360px){
        width: 1014px;
      }
    }

  }
}

.title {
}
.btn {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.btn--path {
  background-color: #cc9c63;
  position: relative;
  -webkit-clip-path: polygon(100% 0,100% 67%,90% 100%,0 100%,0 0);
  clip-path: polygon(100% 0,100% 67%,90% 100%,0 100%,0 0);

  &:hover {
    background-color: #293a50;
  }

  &.btn--path:active {
    background-color: #293a50;
  }
}
.box-buttons {

  &__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 236px;
  }
}




